---
import { getCollection } from 'astro:content';
import ExternalLink from '../components/ExternalLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const bookmarks = await getCollection('bookmarks');
---

<BaseLayout title='Bookmarks' description="qsliu's bookmarks">
	<main class='mx-auto mb-auto w-[calc(100%-1em)] max-w-2xl'>
		<ul class='unset'>
			{
				bookmarks
					.map(bookmark => bookmark.data)
					.map(({ title, url }) => (
						<li class='my-4 flex items-center p-0'>
							<span class='mr-3 text-sm max-sm:hidden'>&gt;</span>
							<ExternalLink href={url} class='font-mono text-lg'>
								{title}
							</ExternalLink>
						</li>
					))
			}
		</ul>
	</main>
</BaseLayout>
