---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const bookmarks = await getCollection("bookmarks");
---

<BaseLayout title="Bookmarks" description="qsliu's bookmarks">
  <section>
    <ul>
      {
        bookmarks
          .map((bookmark) => bookmark.data)
          .map(({ title, url }) => (
            <li>
              <a href={url}>
                <h5>{title}</h5>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
