---
import { getCollection } from 'astro:content';
import PostList from '../../components/PostList.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await getCollection('posts');
---

<BaseLayout>
	<main class='mx-auto mb-auto mt-4 w-[calc(100%-1em)] max-w-2xl'>
		<PostList posts={posts} />
	</main>
</BaseLayout>
