---
import ExternalLink from "./ExternalLink.astro";
const today = new Date();
const { PUBLIC_GIT_COMMIT_HASH } = import.meta.env;
---

<footer class="p-[1em] text-center">
	<p>
		<p>&copy; {today.getFullYear()} qsliu. All rights reserved.</p>
		<p>
			source code avaliable on <ExternalLink
				href="https://github.com/qsliu2017/blog"
			>
				<span class="underline">qsliu2017/blog</span>
			</ExternalLink>
		</p>
		<p>
			version
			{
				PUBLIC_GIT_COMMIT_HASH ? (
					<ExternalLink
						href={`https://github.com/qsliu2017/blog/tree/${PUBLIC_GIT_COMMIT_HASH}`}
					>
						<span class="underline">{PUBLIC_GIT_COMMIT_HASH}</span>
					</ExternalLink>
				) : (
					<span class="underline">development</span>
				)
			}
		</p>
	</p>
</footer>
