---
import { type HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'nav'> & {
	nav: { href: string; text: string }[];
};
const { nav, class: className, ...props } = Astro.props;
---

<nav class:list={[className, 'text-inactive font-heading text-3xl']} {...props}>
	{
		nav.map(({ href, text }, i) => (
			<>
				{i > 0 && <span>/</span>}
				<a {href} class='hover:text-active'>
					{text}
				</a>
			</>
		))
	}
</nav>
