---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import MathJaxHead from '../../components/MathJaxHead.astro';
import PostList from '../../components/PostList.astro';

export const getStaticPaths = (async () => {
	const posts = await getCollection('posts');
	const tags = new Set(posts.flatMap(post => post.data.tags));
	return Array.from(tags).map(tag => ({
		params: { slug: tag },
		props: { tag, posts: posts.filter(post => post.data.tags.includes(tag)) },
	}));
}) satisfies GetStaticPaths;

const { tag, posts } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead />
		<MathJaxHead />
	</head>
	<body>
		<main class='mx-auto mb-auto mt-4 max-w-2xl px-1'>
			<h1 class='mb-4 text-2xl'>
				<a href='/' target='_self' class='text-slate-600 hover:text-slate-800'>Posts</a><svg
					xmlns='http://www.w3.org/2000/svg'
					width='16'
					height='16'
					fill='currentColor'
					class='bi bi-slash inline-block'
					viewBox='0 0 16 16'
				>
					<path d='M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z'></path>
				</svg><a href={`/tag/${tag}/`} target='_self' class='text-slate-600 hover:text-slate-800'>#{tag}</a>
			</h1>
			<PostList posts={posts} />
		</main>
		<Footer />
	</body>
</html>
