---
import type { GetStaticPaths } from 'astro';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import MathJaxHead from '../../components/MathJaxHead.astro';
import { getNotes, normalizeId, type NoteEntry } from './note';

export const getStaticPaths = (async () => {
	const notes = await getNotes();
	return Object.entries(notes).map(([page, notes]) => ({
		params: { slug: normalizeId(page) },
		props: { page, notes },
	}));
}) satisfies GetStaticPaths;

type Props = { page: string; notes: NoteEntry[] };

const { page, notes } = Astro.props;
const rendered = await Promise.all(notes.map(async note => ({ ...note, ...(await note.render()) })));
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={page} />
		<MathJaxHead />
	</head>
	<body class='mx-auto mt-4 max-w-2xl max-sm:px-1'>
		<nav class='flex items-center'>
			<a class='text-slate-500 hover:text-slate-600' href='/note/'>Notes</a><svg
				xmlns='http://www.w3.org/2000/svg'
				width='16'
				height='16'
				fill='currentColor'
				class='bi bi-slash'
				viewBox='0 0 16 16'
			>
				<path d='M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z'></path>
			</svg>
		</nav>
		<h1 class='font-heading text-4xl font-bold'>{page}</h1>
		<hr class='mb-4 mt-2' />
		<main
			class='prose font-body prose-headings:mt-0 prose-a:font-normal prose-a:underline prose-a:after:inline-block prose-a:after:w-[15px] prose-a:after:align-middle prose-a:after:content-[url(/external-link.svg)]'
		>
			{
				rendered
					.sort((a, b) => b.data.date.getDate() - a.data.date.getDate())
					.map(({ Content, data: { date } }) => (
						<>
							<time class='text-lg' datetime={date.toISOString()}>
								{date.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}
							</time>
							<Content />
							<hr class='mb-2 mt-4' />
						</>
					))
			}
		</main>
		<Footer />
	</body>
</html>
