---
import { getNotes, normalizeId } from './note';

const notes = await getNotes();
const titles = Object.keys(notes);
---

<ol>
	{titles.map(title => <a href={`/note/${normalizeId(title)}/`}>{title} </a>)}
</ol>
