---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import MathJaxHead from '../components/MathJaxHead.astro';

type Props = {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
};

const props = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead {...props} />
		<MathJaxHead />
	</head>
	<body class='flex h-screen flex-col'>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
